/* Styling untuk keseluruhan halaman */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Container utama */
.card {
    max-width: 600px;
    margin: 20px auto;
    background: FBF6F6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(217, 104, 104);
}

.img-card {
    max-width: 300px;
    margin: 0 auto;
    background: FBF6F6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(217, 104, 104);
}

/* Header utama */
h1 {
    color: #007bff;
    text-align: center;
}

/* Paragraf */
p {
    font-size: 16px;
    line-height: 1.6;
    text-transform: lowercase;
}

/* Garis pemisah */
hr {
    border: none;
    display: none;
}

/* Greeting */
small {
    display: block;
    font-style: italic;
    text-align: center;
    color: #888;
    margin-top: 5px;
}

/* img */
img {
    display: block;
    height: auto;
    width: 200px;
    margin: 0 auto;
}

footer{
    text-align: center;
}

h3{
    font-weight: normal;
}

.footer{
    font-size: small;
}